<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Prof.Dr. Ender Ellidokuz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        <a class="nav-link" href="hakkımda">Hakkımda</a>
        <a class="nav-link" href="tarama_testi">Tarama Testi</a>
        <a class="nav-link" href="https://debis.deu.edu.tr/akademiktr/index.php?cat=3&akod=19911023">Akademik</a>
        <a class="nav-link" href="iletisim">İletişim</a>

        
      </div>
    </div>
  </div>
</nav>