{% extends 'layout.html' %}
{% block sayfa  %}
<body class="vsc-initialized"><p><a href="http://debis.deu.edu.tr/akademiktr/index.php?cat=3&amp;akod=19911023"><input name="" type="button" value="Dokuz Eylul Universitesi"></a></p>
<p>&nbsp;</p>
<p>&nbsp;<a href="http://onkoloji.deu.edu.tr/tr/"><input type="image" src="/userweb/ender.ellidokuz/tronko.png" alt="Translasyonel Onkoloji" width="296" height="300" longdesc="http://debis.deu.edu.tr/ders-katalog/2015-2016/tr/bolum_9790_tr.html"></a></p></body>



{% endblock  %}