{% extends 'layout.html' %}
{% block sayfa %}
<p style="text-align: left;"><strong>ADRES:</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Inciralti Yerleskesi&nbsp; &nbsp;Balcova IZMIR&nbsp;</p>
<p style="text-align: left;"><span style="color: rgb(0, 0, 255);"><strong>ILETISIM:&nbsp;</strong></span></p>
<p style="text-align: left;">Sekretelik:&nbsp; &nbsp;+90 232 4123714&nbsp; &nbsp; &nbsp;(Sonuc randevusu)&nbsp; &nbsp; &nbsp;</p>
<p style="text-align: left;">Cagri merkezi:&nbsp; &nbsp; +90 232 4129898
<p style="text-align: left;">Ofis:&nbsp; &nbsp; +90 232 4123703</p>
{% endblock sayfa %}