{% extends 'layout.html' %}
{% block sayfa %}
<h4>Karaciğer Kanser Riski Tarama Testi</h4>
<hr>
{% from "includes/formhelpers.html" import render_field %}
  <form method=post>
    <dl>
      {{ render_field(form.yas) }}
      {{ render_field(form.cinsiyet) }}
      {{ render_field(form.alkol,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault" ) }}
      {{ render_field(form.kahve,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault" ) }}
      {{ render_field(form.sut,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.mvit,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.lif,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.balik,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.et,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.diyabet,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.demir,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.zinco,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
      {{ render_field(form.sigara,class="form-check-input",type="checkbox" ,value="" ,id="flexCheckDefault") }}
    
    </dl>
    <button type="submit" class="btn btn-primary btn-lg">Formu gönder</button>
  </form>







{% endblock  %}